@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes punch {
    0% {
        transform: scale(0deg);
    }

    10% {
        transform: scale(1.3);
    }

    66% {
        transform: scale(0.7);
    }

    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes punch {
  0% {
      transform: scale(0deg);
  }

  10% {
      transform: scale(1.3);
  }

  66% {
      transform: scale(0.7);
  }

  100% {
      transform: scale(1);
  }
}

@keyframes wiggle {
  0% {
      transform: rotate(0deg);
  }

  20% {
      transform: rotate(30deg);
  }

  40% {
      transform: rotate(-30deg);
  }

  50% {
      transform: rotate(15deg);
  }

  60% {
      transform: rotate(-10deg);
  }

  70% {
      transform: rotate(5deg);
  }

  76% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(0deg);
  }
}

@-webkit-keyframes wiggle {
  0% {
      transform: rotate(0deg);
  }

  20% {
      transform: rotate(30deg);
  }

  40% {
      transform: rotate(-30deg);
  }

  50% {
      transform: rotate(15deg);
  }

  60% {
      transform: rotate(-10deg);
  }

  70% {
      transform: rotate(5deg);
  }

  76% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(0deg);
  }
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}


@keyframes pulse-50 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes pulse-50 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}


@keyframes pulse-25 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.25;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes pulse-25 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.25;
    }

    100% {
        opacity: 1;
    }
}


@keyframes pulse-0 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes pulse-0 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
